<div class="d-flex">
  <div style="min-width: 45%; height: 700px;"
      data-controller="index-map"
      data-index-map-markers-value="<%= @markers.to_json %>"
      data-index-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="none mt-4" style="width: 55%">
    <div>
      <h1 class="text-center map-user-name"> <%= current_user.username %> map <i class="fa-regular fa-compass"></i></h1>

    </div>
    <div class="row justify-content-center">
      <% @posts.each do |post|  %>
        <div class="col-5 cityid_<%= post.city_id %> hide_city">
          <div class="d-flex justify-content-center">
            <div class="card rounded">
              <div class="p-2" >
                <% post.photos.each do |photo| %>
                  <%= cl_image_tag photo.key, class: "card-img" %>
                <% end %>
              </div>
              <div class="card-infos">
                <%= link_to post_path(post) do %>
                  <h2 class="mb-1"><%= post.title %></h2>
                <% end %>
                <h3 class="mb-1"><%= post.category %></h3>

              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="mt-4 mb-4 text-center">
  <small><%= link_to "Show all", profile_path, class: "btn-peach-outline" %></small>
</div>
