<%= simple_form_for @event do |f| %>
  <div class="container form-inputs">
    <%= f.input :name %>
    <%= f.input :start_time, html5: true %>
    <%= f.input :end_time, html5: true %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.submit "Save", class: "btn-peach mb-4 w-100" %>
  </div>
<% end %>
