<div class="calendar-wrapper container">
  <div class="heading-wrapper d-flex align-items-center justify-content-around mb-3">
    <h1 class="text-center" >Calendar 📆</h1>
    <div class="filter-by-city-search d-flex align-items-center justify-content-center">
      <%= form_with url: '/events', method: :get, class: "d-flex m-2 filter" do %>
        <%= text_field_tag :city,
          params[:city],
          class: "form-control",
          placeholder: "Filter by city"
        %>
        <%= submit_tag "Filter", class: "btn-peach", id: "submit" %>
      <% end %>
    </div>
  </div>

  <div class="calendar">
    <%= month_calendar(events: @events, end_attribute: :end_time) do |date, events| %>
      <%= date %>

      <% events.each do |event| %>
        <%= link_to event_path(event), class: "event-link" do %>
          <div class="event">
            <p><%= event.name %></p>
            <%= render "shared/avatar_owner", event_owner: event.user %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<%# Show message on top: X people have an event on the same dates %>
