<%= simple_form_for @event do |f| %>
  <div class="container form-inputs">
      <%= f.input :name %>
      <%= f.input :start_time, html5: true %>
      <%= f.input :end_time, html5: true %>
      <%= f.association :city %>
      <%= f.submit "Save" %>
  </div>
<% end %>
