<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1568444438385-ece31a33ce78?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
  <div class="container text-center">
    <h1 class="mb-5">Welcome to TravelMap 🗺</h1>
    <div class="banner-info-wrapper mb-5">
      <h4 class="mt-5"><small>- The Social Network for Travellers -</small></h4>
      <p class="mt-5">Get inspired by fellow TravelMappers & inspire others by sharing your own experiences</p>
    </div>
    <%= link_to "Explore All Experiences", posts_path, id: "explore-posts-link"%>
  </div>
</div>
<div class="my-4 p-3">
  <h2 class="mb-4 text-center">Open The Door To Adventure</h2>

  <div class="recommendations">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= link_to posts_path(query: "oslo") do %>
            <div class="city-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1566894069245-ab8428a4c9c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80)">
              Oslo
            </div>
          <% end %>
        </div>
        <div class="carousel-item ">
          <%= link_to posts_path(query: "berlin") do %>
            <div class="city-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1606126210582-3a17753188b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)">
              Berlin
            </div>
          <% end %>
        </div>
        <div class="carousel-item ">
          <%= link_to posts_path(query: "madrid") do %>
            <div class="city-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1543783207-ec64e4d95325?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)">
              Madrid
            </div>
          <% end %>
        </div>
        <div class="carousel-item ">
          <%= link_to posts_path(query: "london") do %>
            <div class="city-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1517063606794-32470b2d5456?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)">
              London
            </div>
          <% end %>
        </div>
        <div class="carousel-item ">
          <%= link_to posts_path(query: "paris") do %>
            <div class="city-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1605701877331-645ad05dcb97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80)">
              Paris
            </div>
          <% end %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<%# Jose wrote this search code %>
<% if false %>
  <%= form_with url: posts_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a city"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
<% end %>
