<%= simple_form_for post do |f| %>
  <div class="container form-inputs">
      <%= f.input :title %>
      <%= f.input :category %>
      <%= f.input :description %>
      <%= f.input :address %>
      <%= f.association :city %>
      <%= f.submit "Save", class: "btn-orange mb-2"%>
  </div>
<% end %>

<div>
  <%= link_to "Back to My map", posts_path %>
</div>
