<%= simple_form_for post do |f| %>
  <% if f.object.errors.messages[:city].present? %>
    <p class="text-danger">This address is invalid and doesn't have a city</p>
  <% end %>
  <div class="container form-inputs">
      <%= f.input :title %>
      <%= f.input :category,
                  as: :radio_buttons,
                  collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'category-wrapper',
                  input_html: { class: "category-selector" },
                  item_wrapper_class: 'category-item',
                  collection: Post::CATEGORIES %>
      <%= f.input :description, label: "Describe your experience" %>
      <%= f.input :address %>
      <%= f.input :photos, as: :file, label: "Upload pictures", input_html: { multiple: true } %>
      <%# f.association :city %>
      <%= f.submit "Save", class: "btn-peach mb-5 w-100" %>
  </div>
<% end %>
