
<div class="container">
  <%= form_with url: posts_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a post"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>


<div class="container">
  <% @posts.each do |post|  %>

  <p> <%= post.title.gsub(/em/, 'mark').html_safe %> </p>
  <p> <%= post.description.gsub(/em/, 'mark').html_safe %> </p>
  <p> <%= post.category.gsub(/em/, 'mark').html_safe %> </p>
  <% end  %>
</div>



<%# <em.*?>(.*?)<\/em> %>
<%# "hello guys".gsub(/g.{3}/, 'le wagon') %>
