
<div class="container">
  <%= form_with url: posts_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a post"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>


<div class="container">
  <% @posts.each do |post|  %>
  <p> <mark><%= post.title %><mark> </p>
  <p>  <mark><%= post.description %><mark> </p>
  <p>  <mark><%= post.category %><mark> </p>
  <% end  %>
</div>
