<div style="width: 200%; height: 600px; border: 20px solid #000000;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
  <% @posts.each do |post|  %>
    <div class="col-3">
      <div class="d-flex justify-content-center">
        <div class="card rounded">
          <div class="p-2">
            <% post.photos.each do |photo| %>
              <%= cl_image_tag photo.key, class: "card-image" %>
            <% end %>
            <div class="card-infos mt-3">
              <%= link_to post_path(post) do %>
                <h2 class="mb-1"><%= post.title %></h2>
              <% end %>
              <h3 class="mb-1"><%= post.category %></h3>
              <h4 class="mb-3"><%= post.address %></h4>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered" />
              <%= render(partial: "shared/bookmark", locals: { post: post}) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end  %>
  </div>
</div>
